[alias]
    b = branch
    d = diff --word-diff
    f = fetch -p
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    s = status

[user]
        name = Rugal Bernstein
        email = rugal.bernstein.0@gmail.com
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[help]
        autocorrect = 1
[tig]
    line-graphics = utf-8
    vertical-split = true
    show-changes = true
    refresh-mode = auto
    main-view-line-number = false
    main-view-author = full
    main-view-id = true
    main-view-commit-title-refs = true
    main-view-date = relative
